<div class="row">
    <div class="fixed-action-button col s11 right-align">
        <a href="/stories/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
    </div>
</div>